/*importing google font family: roboto - downloaded and loaded in same folder*/
@font-face {
    font-family: 'Roboto-Regular';
    src: url(Roboto-Regular.ttf);
}

html {
    font-family: Roboto-Regular, sans-serif;
    font-size: 16px;
    /*Default font related css for the whole doc has to go into an html selector*/
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /*All other general doc styling will go into body*/
    font-size: 1rem;
    /*Rem is a responsive measure unit based off html font-size*/
}

input,
textarea {
    text-align: center;
    font-family: inherit;
    font-size: inherit;
}

.delete {
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
    /*Somewhere the padding is set to 40px on the left of the ul element. I have no clue where it is lol and I even tried ctrl + f on it
        as well by looking for '40' and 'padding' but nothing showed up lol. Have no idea why this is, maybe 40px padding to left is default
        for ul elements. Anyways, am I thankful for webdev tools to help me look at whitespace on pages. Saved my life and other people from
        a simple headache on stackoverflow lol.
        
        That was written last night(writing this as of 3/1/2024). Apparently each browser has their own custom css so this is like with
        margin and padding for body where you have to set them to zero. I have no idea why the body margin and padding being set to zero
        doesn't set the padding of this element to 0. Well, more tidbits to remember to help*/
}

.delete,
.svg {
    cursor: pointer;
}

.task {
    text-align: left;
}

.toDoList {
    border: solid black 3px;
    padding: 2%;
    margin: 2%;
}

footer {
    margin: 2%;
    border: 3px none black;
    padding: 2%;
    font-size: .8rem;
    text-align: center;
    background-color: aqua;
}

@media only screen and (max-width: 600px) {

    /* .toDoList {
        border: solid black 3px;
        padding: 2%;
        margin: 2%;
    } */

    span {
        border: pink 1px solid;
        border-radius: 20px;
        margin-top: 1%;
        margin-bottom: 1%;
        background-color: pink;
        padding: 1%;
    }

    .task {
        display: inline-block;
        width: 50%;
        word-wrap: break-word;
    }

    .delete {
        width: 25%;
        float: inline-end;
    }

    #todaysGoal,
    textarea {
        display: block;
        width: 98%;
        margin: 2% auto 0 auto;
    }

    #addTaskInput {
        width: 30%;
        font-size: .8rem;
    }

    textarea {
        min-height: 2.5rem;
        height: 4.75rem;
        max-height: 6rem;
        min-width: 70%;
        width: 98%;
        max-width: 98%;
    }

    footer {
        border-radius: 3rem 0;
    }
}

@media only screen and (min-width: 600px) {
    /* .toDoList {
        border: solid black .3rem;
        margin: 1%;
        padding: 1%;
    } */

    textarea {
        display: block;
        padding: 0;
        margin: 0 auto;
        min-width: 50%;
        width: 100%;
        max-width: 100%;
        min-height: 2rem;
        height: 2rem;
        max-height: 7rem;
    }

    span {
        border: pink solid .3rem;
        background-color: pink;
        padding: .12rem;
        border-radius: 1rem;
    }

    li {
        margin: 1rem 0;
    }

    .delete {
        float: inline-end;
    }

    .task {
        display: inline-block;
        max-width: 70%;
        word-wrap: break-word;
    }

    #todaysGoal {
        display: inline-block;
        width: 80%;
    }

    footer {
        border-radius: 10rem 0;
    }
}

@media only screen and (min-width: 768px) {
    /* .toDoList {
        border: .3rem black solid;
        padding: 1%;
    } */

    textarea {
        display: block;
        padding: 0;
        margin: 0 auto;
        min-width: 50%;
        width: 100%;
        max-width: 100%;
        min-height: 2rem;
        height: 2rem;
        max-height: 7rem;
    }

    #todaysGoal {
        float: inline-end;
        width: 85%;
    }

    li {
        margin: 3.5% 0;
    }

    span {
        border: pink .2rem solid;
        background-color: pink;
        border-radius: .7rem;
        padding: .3%;
    }

    .delete {
        float: inline-end;
        width: 6.5%;
    }

    .task {
        display: inline-block;
        max-width: 70%;
        word-wrap: break-word;
    }

    footer {
        border-radius:10rem 0;
    }
}

@media only screen and (min-width: 1200px) {

    /* .toDoList {
        border: solid black 3px;
        padding: 2%;
    } */

    textarea {
        display: block;
        margin: .5% auto;
        max-width: 100%;
        min-height: 20px;
        height: 50px;
        max-height: 250px;
        width: 100%;
        min-width: 40%;
    }

    h1 {
        font-size: 2rem;
    }

    #todaysGoal {
        display: block;
        margin: 1% 0;
        width: 100%;
        padding: .3% 0;
        border: solid black;
        border-radius: 1rem;
    }

    li {
        margin: 1.5% 0;
    }

    span {
        border: .3rem solid pink;
        background-color: pink;
        border-radius: 1em;
        padding: .1em;
    }

    .delete {
        float: inline-end;
        width: 3.5%;
        padding: 0 .5em;
    }

    .task {
        display: inline-block;
        word-wrap: break-word;
        max-width: 80%;
    }

    #todaysGoalLabel {
        font-weight: 700;
    }

    footer {
        border-radius: 10rem 0;
    }
}