/*importing google font family: roboto - downloaded and loaded in same folder*/
@font-face {
    font-family: 'Roboto-Regular';
    src: url(Roboto-Regular.ttf);
}

html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto-Regular, sans-serif;
    font-size: 1rem;
}

input,
textarea {
    text-align: center;
    font-family: inherit;
    font-size: inherit;
}

ul {
    list-style-type: none;
}

@media only screen and (max-width: 600px) {

    .toDoList {
        border: solid black 3px;
        padding: 2%;
        /* margin: 2%; */
    }

    span {
        border: pink 1px solid;
        text-align: center;
        border-radius: 20px;
        margin-top: 1%;
        margin-bottom: 1%;
        background-color: pink;
        padding: 1%;
    }

    .task {
        display: inline-block;
        width: 50%;
        word-wrap: break-word;
    }

    .delete {
        width: 25%;
        float: inline-end;
    }

    #todaysGoal,
    textarea {
        display: block;
        width: 98%;
        margin: 2% auto 0 auto;
    }

    #addTaskInput {
        width: 30%;
        font-size: .8rem;
    }

    textarea {
        min-height: 2.5rem;
        height: 4.75rem;
        max-height: 6rem;
        min-width: 70%;
        width: 98%;
        max-width: 98%;
    }

    ul {
        /*Somewhere the padding is set to 40px on the left of the ul element. I have no clue where it is lol and I even tried ctrl + f on it
        as well by looking for '40' and 'padding' but nothing showed up lol. Have no idea why this is, maybe 40px padding to left is default
        for ul elements. Anyways, am I thankful for webdev tools to help me look at whitespace on pages. Saved my life and other people from
        a simple headache on stackoverflow lol.*/
        padding: 0;
    }
}

/* @media only screen and (min-width: 768px) {
} */

@media only screen and (min-width: 1200px) {
    .toDoList {
        border: solid black 3px;
        padding: 2%;
    }

    ul {
        list-style-type: none;
    }

    textarea {
        display: block;
        margin: .5% auto;
        max-width: 100%;
        min-height: 20px;
        height: 50px;
        max-height: 250px;
        width: 100%;
        min-width: 40%;
    }

    h1 {
        font-size: 2rem;
    }

    #todaysGoal {
        display: block;
        margin: 1% 0;
        width: 100%;
        padding: .3% 0;
        border: solid black;
        border-radius: 1rem;
    }

    li {
        margin: 1.5% 0;
    }

    span {
        border: .3rem solid pink;
        background-color: pink;
        border-radius: 1em;
        padding: .1em;
    }

    .delete {
        float: inline-end;
        width: 3.5%;
        text-align: center;
        padding: 0 .5em;
    }

    .task {
        display: inline-block;
        word-wrap: break-word;
        max-width: 80%;
    }

    #todaysGoalLabel {
        font-weight: 700;
    }
}