/*importing google font family: roboto - downloaded and loaded in same folder*/
@font-face {
    font-family: 'Roboto-Regular';
    src: url(Roboto-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto-Regular';
}

#toDoList {
    border: black 10px solid;
    margin: 30px 30px 0px 30px;
    height: fit-content;
    padding: 10px 10px 50px 10px;
}

ul,
li {
    margin: 30px 0px;
}

h1 {
    text-align: center;
}

span {
    border: black none 3px;
    border-radius: 15px;
    padding: 10px;
    background-color: hsl(0, 36%, 85%);
}

li {
    list-style-type: none;
}

.delete {
    float: right;
    cursor: pointer;
}

input,
button,
textarea {
    text-align: center;
}

textarea {
    display: block;
    margin: 10px auto;
    height: 100px;
    width: 1000px;
}

#todaysGoal {
    /*If you wanted the todays goal input box to be in the center of the page and on it's own, uncomment these rules*/
    /* display: block;
    margin: 10px auto; */
    width: 700px;
}

#otherOptions {
    border: solid black 1px;
    margin: 5px 30px 10px 30px;
    padding: 10px 10px 10px 10px;
}

/* input[type='checkbox'] {
    float: right;
} */